:root {
	--background-color: #000000;
	--main-color: #383838;

	--text-color: #ffffff;
	--mistake-color: #cd5c5c;
	--correct-color: #90ee90;
	--highlight-color: #737373;
	--main-font: consolas;
	--font-size: 20px;
}

* {
	color: inherit;
	font-family: var(--main-font);
}

body {
	display: flex;
	background-color: var(--background-color);
	margin: auto;
	width: 100vw;
	height: 100vh;
	font-size: var(--font-size);
	color: var(--text-color);
	align-content: center;
	justify-content: center;
}

settings_button {
	position: fixed;
	display: block;

	left: 50%;
	transform: translate(-50%);
	bottom: 10px;
	background-color: transparent;
	color: var(--main-color);
	border-radius: 50%;
	align-self: right;
	opacity: 1;
	cursor: pointer;
	z-index: 1;
}

settings_button:hover {
	opacity: 0.8;
}

main_container {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 95%;
	border-radius: 5px;
	max-width: 700px;
	align-self: center;
	align-content: center;
	justify-content: center;
	overflow: hidden;
}

header {
	display: flex;
	flex-direction: row;
	padding: 0 20px;
	width: (100% - 40px);
	height: 40px;
	font-size: 50%;
	line-height: 40px;
	background-color: var(--main-color);
	/* border-bottom: 2px solid var(--main-color); */
}

header > * {
	flex: 1 1 auto;
	text-align: center;
}

wpm,
time,
mistakes {
	font-size: var(--font-size);
	/* margin: 0px 2px; */
}
mistakes {
	color: var(--mistake-color);
}
timer {
	text-align: right;
	flex: 8 1 auto;
	/* position: absolute; */
	/* right: 0px; */
}

main_container > hr {
	height: 4px;
	margin: 0px;
	background-color: var(--main-color);
	filter: brightness(1.2);
	border: none;
}

text_fields_container {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: inherit;
	border-radius: 0px;
	padding: 10px;
	padding-bottom: 20px;
	border-top-width: 1px;
	width: calc(100% - 20px);

	background-color: var(--main-color);
}

text_fields_container > * {
	width: 95%;
	margin: auto;
}

text_to_type {
	width: fit-content;
	height: fit-content;
	position: relative;
	display: block;
	background-color: inherit;
	overflow-y: auto;
	max-height: 500px;
	/* max-width: 50vh; */
	/* align-self: center; */
	/* border-radius: 10px; */
	padding: 0px 20px 0px 20px;
	margin: 20px 0px;
}
text_to_type > * > * {
	color: inherit;
}

input {
	position: relative;
	background-color: inherit;
	align-self: center;
	margin: 0px 0px;
	border-radius: 5px;
	padding: 10px;
	color: inherit;
	border: none;
	background-color: var(--main-color);
	filter: brightness(1.2);
	font-size: inherit;
	outline: none;
	color: inherit;
}

.reset {
	border: none;
	outline: none;
	display: inline-block;
	background-color: var(--main-color);
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	font-size: 100%;
	right: 25px;
	bottom: 25px;
	width: auto;
	cursor: pointer;
}

.reset:hover {
	filter: brightness(0.9);
}

.reset:active {
	filter: brightness(1.2);
}

settings {
	display: none;
	position: absolute;
	background-color: var(--main-color);
	flex-flow: column nowrap;
	flex: 1 1 auto;
	min-width: auto;
	height: auto;
	margin: auto;
	top: 50%;
	max-height: 50vh;
	padding: 20px 15px 20px 25px;
	/* border: 1px solid var(--text-color); */
	border-radius: 5px;
	overflow-y: scroll;
	text-align: left;
	transform: translate(0, -50%);
}

setting {
	display: flex;
	flex-flow: row nowrap;
	flex: 1 1 auto;
	width: 100%;
	text-align: left;
}
setting > * {
	display: flex;
	flex-flow: row nowrap;
	flex: 1 1 0;
	position: relative;
	padding: 2% 0px;
	vertical-align: middle;
	word-break: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	min-width: 0px;
	white-space: nowrap;
	align-content: center;
	line-height: 30px;
	/* line-height: 50px; */
}

setting > span:first-child {
	padding-right: 35px;
}
setting > span:last-child {
	justify-content: center;
}

settings > button {
	width: 100%;
	height: auto;
	flex: 1 1 auto;
	margin-top: 10px;
	cursor: pointer;
	font-size: 80%;
	position: relative;
	background-color: var(--main-color);
	filter: brightness(1.2);
	outline: none;
	border-radius: 5px;
	padding: 10px;
	/* border: 1px solid var(--text-color); */
	border: none;
	/* align-self: center; */
	text-align: center;
	/* left: 50%; */
	/* transform: translate(-50%); */
}

settings > span.default {
	display: inline-block;
	position: fixed;
	z-index: 1;
	right: 5px;
	padding: 4px;
	font-size: 60%;
	flex: 0 0 0px;
	top: 8px;
	color: var(--text-color);
	background-color: var(--main-color);
	filter: brightness(1.2);
	/* bottom: 0px; */
	cursor: pointer;
	background-color: var(--main-color);
}

settings > span.default:hover {
	filter: brightness(1.2);
}

settings > button:hover {
	filter: brightness(1.4);
}

span > label {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: var(--main-color);
	filter: brightness(1.4);
	cursor: pointer;
}

span > label:hover {
	filter: brightness(1.5);
}
.checkboxLabel {
	position: relative;
}

input:checked + .checkboxLabel > filler {
	background-color: var(--text-color);
}
label {
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	color: var(--main-color);
}
.radioLabel {
	background-color: transparent;
	text-align: center;
	margin: 0px 8px;
	border-bottom: 1px solid var(--main-color);
}

input:checked + .radioLabel {
	color: var(--text-color);
	border-color: var(--text-color);
}

label > filler {
	flex: 1 1 auto;
	display: block;
	background-color: transparent;
	width: 75%;
	height: 75%;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

span > input[type="checkbox"],
span > input[type="radio"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

span > input[type="number"],
span > input[type="text"] {
	margin: auto;
	flex: 1 1 auto;
	display: block;
	background-color: var(--main-color);
	filter: brightness(1.2);

	padding: 5px;
	width: 75px;
	text-align: center;
}

span > input[type="text"] {
	width: 100px;
}

span > input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

span > input[type="color"] {
	padding: 0px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background-color: transparent;
	-webkit-appearance: none;
}

span > input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
span > input[type="color"]::-webkit-color-swatch {
	border: 1px solid white;
	border-radius: 5px;
}

.colorText {
	margin-right: 10px;
}

@media screen and (max-width: 700px) {
	body {
		min-height: 300px;
	}
	main_container {
		font-size: 50%;
		width: 100vw;
		padding: 0px;
	}
	text_fields_container {
		width: 90%;
		margin: auto;
		background-color: var(--main-color);
		align-content: center;
		justify-content: center;
		max-height: 50vh;
	}
	text_fields_container > * {
		width: 90%;
	}
	text_to_type {
		min-height: 20px;
		width: auto;
	}

	settings {
		font-size: 50%;
	}
}

@media screen and (max-height: 500px) {
	main_container {
		margin: 0px;
		margin-bottom: 50px;
	}
}

/* SCROLLBAR css stolen from w3school.com */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	filter: brightness(2);
	width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	/* border-radius: 10px; */

	background: gray;
	border-radius: 10px;
	border: 4px solid var(--main-color);
	opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: white;
	opacity: 1;
}
