:root {
	--background-color: #778899;
	--main-color-dark: #263f3f;
	--main-color: #2f4f4f;
	--main-color-bright: #385f5f;

	--text-color: #ffffff;
	--mistake-color: #cd5c5c;
	--correct-color: #90ee90;
	--highlight-color: #fbabea;
	--main-font: consolas;
	--font-size: 25px;
}

* {
	color: inherit;
	font-family: var(--main-font);
}

body {
	display: flex;
	background-color: var(--background-color);
	margin: auto;
	width: 100vw;
	height: 100vh;
	font-size: var(--font-size);
	color: var(--text-color);
	align-content: center;
	justify-content: center;
}

settings_button {
	position: fixed;
	display: block;

	left: 50%;
	transform: translate(-50%);
	bottom: 10px;
	background-color: transparent;
	color: var(--main-color);
	border-radius: 50%;
	align-self: right;
	opacity: 1;
	cursor: pointer;
	z-index: 1;
}

settings_button:hover {
	opacity: 0.8;
}

main_container {
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 95%;
	max-width: 700px;
	align-self: center;
	align-content: center;
	justify-content: center;
}

header {
	display: inline;
	flex-direction: row;
	width: 100%;
	height: 40px;
	font-size: 50%;
	line-height: 40px;
}

header > * {
	display: inline-block;
	width: fit-content;
	text-align: center;
	background-color: inherit;
	margin: 0px 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 4px 10px 0px 10px;
	color: var(--text-color);
	background-color: var(--main-color);
}
wpm,
time,
mistakes {
	font-size: var(--font-size);
	margin: 0px 2px;
}
mistakes {
	color: var(--mistake-color);
}
timer {
	position: absolute;
	right: 0px;
}

text_fields_container {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: inherit;
	border-radius: 5px;
	padding: 10px;
	padding-bottom: 20px;
	border-top-width: 1px;
	width: inherit;
	margin: auto;
	background-color: var(--main-color);
}

text_fields_container > * {
	width: 95%;
	margin: auto;
}

text_to_type {
	width: fit-content;
	height: fit-content;
	position: relative;
	display: block;
	background-color: inherit;
	overflow-y: scroll;
	max-height: 500px;
	/* max-width: 50vh; */
	/* align-self: center; */
	/* border-radius: 10px; */
	padding: 0px 20px 0px 20px;
	margin: 20px 0px;
}

text_to_type > * {
}
text_to_type > * > * {
	color: inherit;
}

input {
	position: relative;
	background-color: inherit;
	align-self: center;
	margin: 0px 0px;
	border-radius: 5px;
	padding: 10px;
	color: inherit;
	border: none;
	background-color: var(--main-color-bright);
	font-size: inherit;
	outline: none;
	color: inherit;
}

settings {
	display: none;
	position: absolute;
	background-color: var(--main-color);
	width: fit-content;
	height: auto;
	margin: auto;
	top: 50%;
	padding: 25px;
	padding-bottom: 20px;
	border: 1px solid var(--text-color);
	border-radius: 5px;
	text-align: left;
	transform: translate(0, -50%);
}
setting {
	display: table-row;
	/* height: 50px; */
	text-align: left;
}
setting > * {
	display: table-cell;
	position: relative;
	padding: 2% 0px;
	vertical-align: middle;
	/* line-height: 50px; */
	/* line-height: 50px; */
}

setting > span:last-child {
	/* position: relative; */
	/* top: 5px; */
	/* height: 50px; */
	/* transform: translateY(25%); */
}
setting > span:first-child {
	padding-right: 35px;
}

settings > button {
	width: 25%;
	height: auto;
	margin-top: 10px;
	cursor: pointer;
	font-size: 50%;
	position: relative;
	background-color: var(--main-color-bright);
	outline: none;
	border-radius: 5px;
	padding: 10px;
	/* border: 1px solid var(--text-color); */
	border: none;
	align-self: center;
	justify-self: center;
	text-align: center;
	left: 50%;
	transform: translate(-50%);
}

settings > button:hover {
	filter: brightness(1.2);
}

span > label {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: var(--main-color);
	filter: brightness(1.4);
	cursor: pointer;
}

span > label:hover {
	filter: brightness(1.5);
}
.checkboxLabel {
	top: 5px;
	position: relative;
}

input:checked + .checkboxLabel > filler {
	background-color: var(--text-color);
}
label {
	display: flex;
	text-align: center;
	justify-content: center;
	align-content: center;
	line-height: 20px;
	color: var(--main-color);
}
.radioLabel {
	background-color: transparent;
	text-align: center;
	border-bottom: 1px solid var(--main-color);
}

input:checked + .radioLabel {
	color: var(--text-color);
	border-color: var(--text-color);
}

label > filler {
	flex: 1 1 auto;
	display: block;
	background-color: transparent;
	width: 75%;
	height: 75%;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

span > input[type="checkbox"],
span > input[type="radio"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

span > input[type="number"] {
	flex: 1 1 auto;
	display: block;
	background-color: var(--main-color-bright);
	padding: 5px;
	width: 75px;
	text-align: center;
}

span > input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

@media screen and (max-width: 700px) {
	main_container {
		width: 100vw;
		padding: 0px;
	}
	text_fields_container {
		width: 100vw;
		margin: auto;
		background-color: var(--main-color);
		align-content: center;
		justify-content: center;
	}
	text_fields_container > * {
		width: 90%;
	}
}

@media screen and (max-height: 500px) {
	main_container {
		margin: 0px;
		margin-bottom: 50px;
	}
	body {
	}
}

/* SCROLLBAR css stolen from w3school.com */
::-webkit-scrollbar {
	width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--main-color-dark);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--main-color-bright);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--text-color);
}
