:root {
	--background-color: lightslategray;
	--main-color: darkslategray;
	--text-color: white;
	--mistake-color: indianred;
	--main-font: consolas;
}

* {
	color: inherit;
	font-family: var(--main-font);
}

body {
	background-color: var(--background-color);
	margin: auto;
	width: 100vw;
	height: 100vh;
	font-size: 25px;
	color: var(--text-color);
}

settings_button {
	position: absolute;
	display: block;

	right: 10px;
	bottom: 10px;
	background-color: transparent;
	color: var(--main-color);
	border-radius: 50%;
	align-self: right;
	opacity: 1;
	cursor: pointer;
}

settings_button:hover {
	opacity: 0.8;
}

main_container {
	top: 50%;
	position: relative;
	display: flex;
	flex-direction: column;
	margin: auto;
	width: 95%;
	max-width: 700px;
	padding: 10px;
	transform: translate(0, -50%);
	align-self: center;
}

header {
	display: inline;
	flex-direction: row;
	width: 100%;
	height: 40px;
	font-size: 10px;
	line-height: 40px;
}

header > * {
	display: inline-block;
	width: fit-content;
	text-align: center;
	background-color: inherit;
	margin: 0px 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 4px 10px 0px 10px;
	background-color: var(--main-color);
}
wpm,
time,
mistakes {
	font-size: 20px;
	margin: 0px 2px;
}
mistakes {
	color: var(--mistake-color);
}
timer {
	position: absolute;
	right: 0px;
	top: 10px;
}

text_fields_container {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: inherit;
	border-radius: 5px;
	padding: 10px;
	padding-bottom: 20px;
	border-top-width: 1px;
	width: 100%;
	margin: auto;
	background-color: var(--main-color);
}

text_fields_container > * {
	width: 95%;
	margin: auto;
}

text_to_type {
	height: fit-content;
	position: relative;
	display: block;
	background-color: inherit;
	align-self: center;
	/* border-radius: 10px; */
	padding: 20px;
}

text_to_type > * {
}
text_to_type > * > * {
	color: inherit;
}

input {
	position: relative;
	background-color: inherit;
	align-self: center;
	margin: 0px 0px;
	border-radius: 5px;
	padding: 10px;
	/* color: slategrey; */
	color: inherit;
	/* border: 1px solid rgb(224, 224, 224); */
	border: none;

	filter: brightness(1.2);
	/* border:none; */
	font-size: inherit;
	outline: none;
	color: inherit;
	/* color:black; */
	/* border-bottom: 2px dashed lightblue; */
}
